<div *ngIf="name != null"><h2> Displaying all models for {{name}}</h2></div>
<div *ngIf="name!=null && year == null"><h2> Produced anytime</h2></div>
<div *ngIf="name!=null && year != null"><h2> Produced {{year}}</h2></div>
<form [formGroup]="modelForm">
  <select formControlName="name">
    <option disabled>Select Make</option>
    <option>Select make</option>
    <option *ngFor="let make of makes" id="{{make.make_id}}">{{make.make_display}}</option>
  </select>

  <select formControlName="year">
    <option disabled>Select Year</option>
    <option>Select Year</option>
    <option *ngFor="let yearOption of years">{{yearOption}}</option>
  </select>
</form>
<div *ngFor="let model of models" class="cardTiles">
	
  	  <div class="card-container">
  	  	
    	<div class="card card-small" tabindex="0">
        
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.5.67s.74 2.65.74 4.8c0 2.06-1.35 3.73-3.41 3.73-2.07 0-3.63-1.67-3.63-3.73l.03-.36C5.21 7.51 4 10.62 4 14c0 4.42 3.58 8 8 8s8-3.58 8-8C20 8.61 17.41 3.8 13.5.67zM11.71 19c-1.78 0-3.22-1.4-3.22-3.14 0-1.62 1.05-2.76 2.81-3.12 1.77-.36 3.6-1.21 4.62-2.58.39 1.29.59 2.65.59 4.04 0 2.65-2.15 4.8-4.8 4.8z" fill="red" stroke="red"/></svg>


		
      <span>{{model.model_name}}</span>
    	</div>

    </div>
</div>
